.font-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
}
.section-heading{
    background-color: #412567;
    
    display: flex;
    justify-content: space-between;
    max-width:1600px;
    /* height: 92px; */
}
.list-item{
    list-style-type: none;
    display: flex;
    color: #FFFFFF;
    gap: 32px;
    margin-top: 32px;
 
   
}
.btn{
 /* padding:12.5px 40px; */
 margin-top: 24px;
margin-right: 200px;
margin-bottom: 24px;
 
 
}
.btn-text{
background-color: #FB09B4;
line-height: auto;
font-weight: 600;
border-radius: 10000px;
padding:16px 40px;

}
.wave-text{
     color: #FB09B4;
   
}
.text{
    /* margin-top: 30px; 
    margin-bottom: 30px;  */
    margin-left : 200px;
    color: #FFFFFF;
    justify-content: center;
}
/* .hero-section{
    width:100%;
    height:auto;
} */
/* .hero{
    background-image: url(assets/hero-bg.png);
    height: auto;
    background-repeat: no-repeat;
    width: 100%; */

.hero-section{
     background-image: url(assets/hero-bg.png);
      background-repeat: no-repeat;
}
 .hero-img{
  padding-top: 101px;
 
 padding-left: 625px;
  padding-right: 625px;
} 
.hero-text{
   
padding-bottom: 101px;
 padding-left: 525px;
  padding-right: 525px;
}
.hero-text{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 60px;
     text-align: center;

}
.hero-text p{
    font-size: 12px;
    font-weight: normal;
    color:#ffffffc7;
    text-align: center;
}
.hero-btn{
    display:flex;
    margin-top:40px;
    padding-bottom:101px;
    gap:8px;
    justify-content: center;

} 
   


.btn-1{
 background-color:#FB09B4;
 border-radius: 10000px;
 padding:12.5px;
 padding-top: 8px;
  text-align: center;
  /* linear-gradient( 
    135deg,
    #FFD84D,
    #FF7AC7,
    #8EC5FC */

}
.btn-2{
     border-radius: 10000px;
     color:#00FF88;
     border-color: #00FF88;
     background-color:rgba(255, 255, 255, 0);
       padding:12.5px; 
}
.btn-1 img{
    align-items: center;
    margin-right: 8px;
     margin-left: 20px;
      margin-top: 8px;
      gap:8px;
 /* margin-left: 20px;
 margin-right: 8px;
 margin-top: 12px;
 margin-bottom: 12px; */
} 
.btn-2 img{
    align-items: center;
    margin-right: 8px;
     margin-left: 20px;
      margin-top: 12px;
    }
    .podcast{
        background-color: #1A0B2E;
        /* padding-top: 50px; */
        padding-bottom: 120px;
         padding-right: 200px;
       padding-left: 200px;
       max-width: 75%;
        
    }
.podcast-text{
    padding-top: 50px;
    padding-bottom: 80px;
    padding-right: 200px;
    padding-left: 200px;
    /* align-items: center; */
     text-align: center;
}
.podcast-text h2{
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
}
.podcast-text P, .podcast-text span{
    font-size: 16PX;
    font-weight: normal;
    color: #ffffff9f;
}
.quality{
    display: flex;
    justify-content: space-between;
    color: #00FF88;
}
.quality p{
    color: #ffffff82;
}
.box{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 200px;
    padding-right: 200px;   
    background-color: #230E3D;
 
}
.container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
 grid-template-rows:repeat(3, 1fr) ;
 gap:30px;
}
.box h1{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.box-1,.box-2,.box-3,.box-4,.box-5{
    background-color: #351165;
    border-radius: 40px;
    text-align: center;
   justify-content: center;
   align-items: center;
}
.box-1{
    grid-row: span 2;
}
.box-2,.box-3{
    grid-column: span 2;
}
.box-4{
    grid-column: span 2;
}
.box-1 img{
    padding:167.5px 280px 16px 40px;
}
.box-2 img{
    padding: 40px 690px 16px 40px;
}
.box-3 img{
     padding: 40px 690px 16px 40px;
}
.box-4 img{
     padding: 40px 690px 16px 40px;
}
.box-5 img{
     padding: 40px 280px 21px 42.5px;
}
.box-1,.box-2,.box-3,.box-4,.box-5 h4{
    font-size: 24PX;
    font-weight: bold;
    color:#FFFFFF;
    padding: 40px 16px 40px 16px; 

}
.box-1 p ,.box-2 p ,.box-3 p ,.box-4 p,.box-5 P{
    font-size: 16px;
    font-weight: normal;
    color: #ffffffab;
}
.featured-episodes{
    background-color: #1A0B2E;
}
.card-title{
  text-align: center;
  padding-top:120px ;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
}
.card-container{
    display: flex;
    gap:30px;
/* padding: 40px 200px 200px 120px; */
}
 
.host h1{
text-align: center;
color: #FFFFFF;
font-size: 48px;
font-weight: bold;
}
.host-container{
    background-color: #412567;
margin-top: 40px;
 
margin-left: 200px;
margin-right: 200px;
border-radius: 20px;
}
.host-text{
   display: flex;
   padding-bottom: 40px;
}
.icon{
    border-color: white;
    border-radius: 50%;
    gap:8px;
}
.image-1{
    padding-top:40px;
    padding-right: 24px;
    padding-left: 40px;
} 
.host-text h2{
    padding-top: 48.8px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    
}
.host-text p{
    color:#ffffff5d;
    font-size: 16px;
    font-weight: normal;
 
    
}
.icon img{
    border:white;
    gap:8px;
}
.footer{
 background-image: url(assets/footer-bg.png);
 
}
/* .footer-text{
     padding-top:120px;
    padding-right: 475px;
    padding-left:475 px;
    padding-bottom:120px ; */
  

.footer-text h1{
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
   padding-top:120px;
    padding-right: 595px;
    padding-left:595px;
    padding-bottom: ;  
text-align: center;
}
.footer-text span{
    color: yellow;
}
.footer-text h6{
    color: #ffffff90;
    font-size: 16px;
    font-weight: normal;
    text-align:center;
    padding-bottom: 120px;
} 
.logo{
    display: flex;
    padding-left:528px;
    padding-right: 528px;
    gap:40px;
}
.s,.t,.y,.a{
display: flex;
align-items: center;
gap:8px;
}
.logo p{
  text-align: center;
  color:#FFFFFF;
   
}
 
 


     
    

 

